.App {
    text-align: center;
    /* background: #abc3c7; */
    background-color: #e6dcdc;
    min-height: 100vh;
}

.img-container {
    height: 40vh;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container > img {
    max-height: 100%;
    width: auto;
}

.cat-button {
    border: 4px solid #f1fbf7;
    text-decoration: none;
    color: #f1fbf7;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 20px 25px;
    transition: all 0.3s;
    background: transparent;
    cursor: pointer;
    outline: 0;
    margin: 0 24px;
}

.cat-button:hover {
    border: 4px solid #f1fbf7;
    background: url('http://catsticker.com/images/dancing-cat.gif');
    background-size: cover;
    background-position: center -40px;
    color: #f1fbf7;
}

.nope:hover {
    background: url('https://media0.giphy.com/media/rCxogJBzaeZuU/giphy.gif?cid=790b76115d47e1034f47536a7331a908&rid=giphy.gif');
}

.adopted-cats-container {
    padding: 24px;
}

.adopted-cats {
    columns: 250px auto;
}

h1 {
    margin: 96px 0 48px 0;
    text-align: left;
}

.adopted-cat {
    width: 100%;
    position: relative;
}

.adopted-cat > img {
    width: 100%;
}
